Cache/Cache.ServerClient/Service References/FileServiceReference/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfChunkHash">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChunkHash" nillable="true" type="tns:ChunkHash" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChunkHash" nillable="true" type="tns:ArrayOfChunkHash" />
  <xs:complexType name="ChunkHash">
    <xs:sequence>
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Location" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChunkHash" nillable="true" type="tns:ChunkHash" />
  <xs:complexType name="ArrayOfChunkContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChunkContent" nillable="true" type="tns:ChunkContent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChunkContent" nillable="true" type="tns:ArrayOfChunkContent" />
  <xs:complexType name="ChunkContent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="PreviousLocation" type="xs:int" />
      <xs:element minOccurs="0" name="UpdatedLocation" type="xs:int" />
      <xs:element minOccurs="0" name="UseUpdatedChunk" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChunkContent" nillable="true" type="tns:ChunkContent" />
</xs:schema>